*{
    /* border:1px solid black !important; */
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.gameDiv{
    height: auto;
    margin: 10px;
    width: 50%;
    padding: 1%;
}

.typeDiv{
    width: 50%;
    padding: 1%;
    margin: 10px;
    
}

.game{
    border-top: 1px solid black;
    height: inherit
   
}


.words {
    padding: 38px;
    margin-top: 21px;
    font-size: larger;
}

.center{
    text-align: center;
}

button {
    font-size: large;
    width: 108px;
    height: 35px;
    border-radius: 6px;
}

.btnDiv {
    margin-top: 30px;
}


.shadow{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}


#timer{
    margin-top: 30px;
}

.correct{
    color:#00bb00;
}

.incorrect{
    color: red;
    text-decoration: underline;
}

#myText{
    width: 100%;
    margin-top: 30px;
    border-radius: 6px;
    padding: 10px;
    font-size: x-large;
    resize: none; 
    height: 180px;

}

.red{
    color: red;
}

.green{
    color: green;
}


/* table css */
#players {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #players td, #players th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #players tr:nth-child(even){background-color: #f2f2f2;}
  
  #players tr:hover {background-color: #ddd;}
  
  #players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #484848;
    color: white;
  }